@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
}
body{
    background: #2c2c2c;
    height: 100%;
    width: 100%;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    z-index: 100;
}
.sticky{
    background: #2c2c2c;
    border: 1px solid rgba(255,255,255,.1);
}
.header a{
    color: #ffd900;   
}
.header .logo{
    text-decoration: none;
    font-size: 30px;
    font-weight: 700;
    animation: SlideRight 1s ease forwards;
    opacity: 0;
    filter: blur(5px);
}
@keyframes SlideRight{
    0%{
        transform: translateX(-100%);
        opacity: 1;
        filter: blur(2px);
    }
    100%{
        transform: translateX(00%);
        opacity: 1;
        filter: blur(0px);
    }
}
.navbar{
    width: 60%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin: 1px auto;
}
.navbar a{
    font-size: 20px;
    display: inline-block;
    padding-left: 10px;
    margin-left: 50px;
    text-decoration: none;
    font-weight: 300;
    color: #fff;
    animation: Slidetop .5s ease forwards;
    opacity: 0;
    filter: blur(5px);
    animation-delay: calc(.2s*var(--clr));
}
@keyframes Slidetop{
    0%{
        transform: translateY(-100px);
        opacity: 1;
        filter: blur(2px);
    }
    100%{
        transform: translateY(00%);
        opacity: 1;
        filter: blur(0px);
    }
       
}
.header .menu{
    color: #fff;
    font-size: 26px;
    display: none ;
    margin: 5px;
    padding: 1px auto;
}
.navbar a:hover{
    color: yellow;

}
.home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}
section{
    padding: 10rem 9% 2rem;
}
.text-section{
    color: #fff;
    max-width: 700PX;
}
.text-section h1{
    font-size: 15px;
    color: yellow;
    animation: SlideRight 1s ease forwards;
    opacity: 0;
    filter: blur(5px);
}
.text-section h2{
    font-size: 50px;
    animation: Slidetop .5s ease forwards;
    opacity: 0;
    filter: blur(5px);
    animation-delay: .7s;

}
.text-section h3{
    font-size: 30px;
    color: yellow;
    animation: SlideRight 1s ease forwards;
    opacity: 0;
    filter: blur(5px);
}
.text-section p{
    margin-top: 20px;
    color: #fff;
    animation: SlideLeft 1s ease forwards;
    opacity: 0;
    filter: blur(5px);
    animation-delay: 1s;
}
@keyframes SlideLeft{
    0%{
        transform: translateX(100px);
        opacity: 1;
        filter: blur(2px);
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
        filter: blur(0px);
    }
}
.btn-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 340px;
    position: relative;
    
}
.btn-box a{
    display: flex;
    color: #2c2c2c;
    background: yellow;
    height: 100%;
    width: 150%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 8px;
    margin-top: 20px;
    border: 2px solid yellow;
    transition: .3s;
   
}
.btn-box a::before{
    content: "";
    position: absolute;
    right: 0;
    background: #2c2c2c;
    height: 100%;
    width: 0%;
    animation: Disappear 2s ease forwards;
}
@keyframes Disappear{
    0%{
        width: 100%;
    }
}
.btn-box a:hover{
    color: yellow;
    background: #2c2c2c;
}
.social-media{
    position: absolute;
    left: 0;
    top: 45%;
    display: grid;
    font-size: 26px;
    animation: Slidetop .5s ease forwards;
    opacity: 0;
    filter: blur(5px);
    animation-delay: 2s;

}
.social-media a{
    color: #2c2c2c;

}
.social-media i{
    padding: 10px 10px;
    background: yellow;
    border: 2px solid yellow;
    margin-top: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.social-media i:hover{
    background: #2c2c2c;
    color: yellow;

}
.image-section{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10%;
}
.image-section img{
    height: 300%;
    width: 100%;
    border-radius: 50%;
    outline: yellow;
    outline-style: solid;
    animation: Zoom 1s ease forwards;
    opacity: 1;
}
@keyframes Zoom{
    0%{
        transform: scale(0);
        opacity: 1;
    }
    1100%{
        transform: scale(1);
        opacity: 1;
    }
}
@media(max-width:768px){
     section{
        padding: 10rem 2% 0;
     }
     .text-section{
        padding: auto;
     }
     .home{
        display: grid;
     }
     .navbar{
        display: none;
     }
     .navbar a{
        font-size: 20px;
        margin: 48px 0;
        display: block;
     }
     .navbar{
        position: absolute;
        left: 0;
        top: 100%;
        background: #2c2c2c;
        padding: 1rem 3%;
        width: 100%;
        border-top: 1px solid rgba(255,255,255,.1);
        box-shadow: 0 .8px 16px rgba(255,255,255,.1);
        
     }
     .navbar.active{
        display: block;
     }
     .header .menu{
        display: block;
     }
     .text-section{
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
     }
     .btn-box{
        height: 50px;
        width: 200px;
        margin-top: 20px;
     }
     .social-media{
        top: 70%;
     }

}
